@import url('https://fonts.googleapis.com/css?family=Mr+Dafoe|Roboto+Condensed:400,700|Roboto:400,500,700,900&display=swap');

body,
html {
  margin: 0;
}




.parallax {
    margin-top: 0;
    background-repeat: no-repeat;
    width: 100vw;
    background-image: url(../img/cleo-topper.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}


#start {
    color: white;
    width: 250px;
    font-size: 3em;
    margin-left: 120px;
}

h1 {  
    font-family: 'Roboto Condensed';
    color: #6bc1a3;
    width: 650px;
}

#firsth1 {
    color: #6bc1a3;
    line-height: 40px;
    width: 580px;
    margin-left: 200px;

}

.dafoe {
    font-family: 'Mr Dafoe' ;
    margin-left: 120px;
    color: #e7bc0e;
    letter-spacing: 1px;
    margin-bottom: 400px;

    }


img {
    margin-top: 300px;
    padding-left: 250px;
    height: 110px;

}

id {
    color: white;
    background-color: rgb(41, 41, 41);
}

.little {
    background-image: url(../img/heart.svg);
    background-repeat: no-repeat;
    width: 90px;
    font-family: 'Roboto Condensed';
    font-size: 7px;
    text-align: right;
    padding-right: 15vw;
    font-size: 20px;
    color: white;
}



.big {
    font-family: 'Roboto Condensed';
    font-size: 120px;
    color: #e7bc0e;
    margin-top: 0px;
    margin-bottom: 0;
    padding-left: 250px;

}

.small {
    font-family: 'Roboto Condensed';
    font-size: 30px;
    color: #e7bc0e;
    margin-top: 20px;
    margin-bottom: 0;
    padding-left: 250px;

}

.small2 {
    font-family: 'Roboto Condensed';
    font-size: 30px;
    color: #cb91b6;
    margin-bottom: 0;
    padding-left: 250px;

}

.big2 {
    font-family: 'Roboto Condensed';
    font-size: 120px;
    color: #cb91b6;
    margin-top: 0;
    padding-left: 250px;

}


.big3 {
    font-family: 'Roboto Condensed';
    font-size: 120px;
    color: #6bc1a3;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 250px;


}

.small3 {
    font-family: 'Roboto Condensed';
    font-size: 30px;
    color: #6bc1a3;
    margin-top: 0;
    padding-left: 250px;
    margin-bottom: 400px;
}



#last {
    padding-left: 350px;
    line-height: 40px;
    color: #7eb8e1;
    width: 500px;
    height: 800px;
}

.last {
    width: 100vw;
    height: 600px;
    background-color: #000;
}


.kids {
    background-image: url(../img/kid.png.jpg);
    background-repeat: no-repeat;
    width: 100vw;
    background-position: center;
    background-size: cover;
    margin: 0;
    background-color: black;
} 



.last p {
    color: white;
    font-family: 'Roboto Condensed';
    font-size: 3em;
    width: 430px;
    padding-top: 160px;
    padding-left: 120px;
}

.box {
    margin: 120px;
    border: solid 1px white;
    width: 90px;
    height: 30px;
    text-align: center;
    color: white;
    padding-top: 10px;
    font-family: 'Roboto Condensed';

}

.box:hover  {
    transform: scaleZ(1.5);
}

.end {
    padding-top: 80px;
    text-align: center;
    margin-top: 0;
    background-color: black;
    height: 50px;
    font-size: 12px;
    color: white;
    font-family: 'Roboto Condensed';

}

a:link {
    text-decoration: none;
    color: #6bc1a3 ;


}
a:visited {
    color: #6bc1a3 ;
}